export(classic.wordfish)
export(classic.wordscores)
export(initialize.wordfish)
export(loglinear.initialize.wordfish)
export(parametric.bootstrap.se)
export(prepare.data)
export(read.jfreq)
export(read.ldac.format)
export(read.ldac)
export(read.mtx.format)
export(read.mtx)
export(sim.wordfish)
export(trim)
export(wordfish)
export(wordscores)
export(write.bmr)
export(write.ldac)
import(Matrix)
import(numDeriv)
S3method(coef,wordfish)
S3method(coef,wordscores)
S3method(fitted,wordfish)
S3method(plot,coef.wordfish)
S3method(plot,wordfish)
S3method(plot,wordscores)
S3method(predict,wordfish)
S3method(predict,wordscores)
S3method(print,coef.wordfish)
S3method(print,summary.wordfish)
S3method(print,wordfish)
S3method(summary,wordfish)
S3method(summary,wordscores)
